.date {
	font-size: 0.7rem;
	color: var(--color-gray-light);
	margin: 0;
}

.nameOrg {
	font-size: 1rem;
	margin: 0;
}

.statusOrg {
	font-size: 0.6rem;
	padding: 4px 8px;
	border-radius: var(--border-radius-sm);
	font-weight: 500;
}

.statusOrgActive {
	color: var(--color-green);
	border: 1px solid var(--color-green-light);
}

.statusOrgSuspended {
	color: var(--color-grey);
	border: 1px solid var(--color-grey-light);
}

.rol {
	font-size: 0.6rem;
	padding: 3px 6px;
	border-radius: var(--border-radius-sm);
	font-weight: 500;
	width: fit-content;
}

.rolOwner {
	color: crimson;
	border: 1px solid var(--color-red-light);
}

.rolPartner {
	color: var(--color-indigo);
	border: 1px solid var(--color-indigo-light);
}

.rolAdmin {
	color: var(--color-tail);
	border: 1px solid var(--color-tail-light);
}

.rolDriver {
	color: var(--color-orange);
	border: 1px solid var(--color-orange-light);
}

.rolAccountant {
	color: var(--color-indigo);
	border: 1px solid var(--color-indigo-light);
}

.rolStatusSuspended {
	color: var(--color-yellow);
	border: 1px solid var(--color-yellow-light);
}

#loadingCard {
	position: relative;
	overflow: hidden;
	pointer-events: none;
	opacity: 0.9;
	background-color: white;
}

/* Efecto de brillo en movimiento */
#loadingCard::after {
	content: "";
	position: absolute;
	top: 0;
	left: -150%;
	width: 150%;
	height: 100%;
	background: linear-gradient(
		90deg,
		transparent 0%,
		rgba(180, 180, 180, 0.2) 50%,
		transparent 100%
	);
	animation: loadingShimmer 1.5s infinite;
}

@keyframes loadingShimmer {
	0% {
		left: -150%;
	}
	100% {
		left: 150%;
	}
}

.loadingRole {
	display: inline-block;
	width: 70px;
	height: 1rem;
	background-color: var(--color-grey-lighter);
	border: 1px solid var(--color-grey-light);
	border-radius: var(--border-radius-sm);
}
.loadingStatus {
	display: inline-block;
	width: 60px;
	height: 1rem;
	background-color: var(--color-grey-lighter);
	border: 1px solid var(--color-grey-light);
	border-radius: var(--border-radius-sm);
}

.loadingNameOrg {
	width: 90%;
	height: 2.4em;
	background-color: var(--color-grey-lighter);
	border: 1px solid var(--color-grey-light);
	border-radius: var(--border-radius-sm);
	margin-bottom: 12px;
}

.loadingDate {
	width: 110px;
	height: 1.1rem;
	background-color: var(--color-grey-lighter);
	border: 1px solid var(--color-grey-light);
	border-radius: var(--border-radius-sm);
}
