/* My companies styles*/

#companiesContainer {
	display: grid;
	gap: 20px;
	row-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1150px) {
	#companiesContainer {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 950px) {
	#companiesContainer {
		grid-template-columns: auto;
	}
}

.cardCompany {
	transform: translateY(40px);
	animation: fadeInUp 0.1s forwards;
}

.cardCompany:nth-child(1) {
	animation-delay: 0.05s;
}
.cardCompany:nth-child(2) {
	animation-delay: 0.1s;
}
.cardCompany:nth-child(3) {
	animation-delay: 0.15s;
}
.cardCompany:nth-child(4) {
	animation-delay: 0.2s;
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.headerTopCompany {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.cardCompanyHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
