@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
	box-sizing: border-box;
}

:root {
	--color-gray-light: oklch(0.556 0.012 106.423);
	--color-gray-dark: oklch(20.5% 0 0);

	--color-red: oklch(80.8% 0.114 19.571);
	--color-red-light: oklch(93.6% 0.032 17.717);
	--color-red-lighter: oklch(97.1% 0.013 17.38);

	--color-green: oklch(0.65 0.15 160);
	--color-green-lighter: oklch(0.65 0.15 160 / 0.1);
	--color-green-light: oklch(0.65 0.15 160 / 0.2);

	--color-grey: oklch(44.4% 0.011 73.639);
	--color-grey-light: oklch(92.3% 0.003 48.717);
	--color-grey-lighter: oklch(98.5% 0.001 106.423);

	--color-indigo: oklch(39.8% 0.195 277.366);
	--color-indigo-light: oklch(78.5% 0.115 274.713);
	--color-indigo-lighter: oklch(96.2% 0.018 272.314);

	--color-yellow: oklch(79.5% 0.184 86.047);
	--color-yellow-light: oklch(94.5% 0.129 101.54);
	--color-yellow-lighter: oklch(98.7% 0.026 102.212);

	--color-orange: oklch(64.6% 0.222 41.116);
	--color-orange-light: oklch(83.7% 0.128 66.29);
	--color-orange-lighter: oklch(98% 0.016 73.684);

	--color-tail: oklch(51.1% 0.096 186.391);
	--color-tail-light: oklch(85.5% 0.138 181.071);
	--color-tail-lighter: oklch(98.4% 0.014 180.72);

	--shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 10px rgba(0, 0, 0, 0.1);

	--border-radius: 12px;
	--border-radius-sm: 8px;

	--padding-modales: 24px 24px;
	--padding-cards: 28px 28px;

	--color-selected: oklch(0.486 0.218 264.052);
}

html {
	font-size: 180%;
}

@media (max-width: 600px) {
	html {
		font-size: 140%;
	}
}

body {
	font-family: "inter", sans-serif;
	max-width: 1350px;
	margin: 0 auto;
	padding: 12px 16px;
	height: 100%;
}

main {
	height: 100%;
}

input,
textarea {
	width: 100%;
	padding: 12px 12px;
	font-size: 0.7rem;
	border: 1px solid #ccc;
	border-radius: var(--border-radius-sm);
	outline: none;
	background-color: white;
}

input:focus,
textarea:focus {
	outline: 2px solid var(--color-selected);
}

.inputGroup {
	margin-bottom: 12px;
}

/*  */

.card {
	width: 100%;
	border: 1px solid #eee;
	border-radius: var(--border-radius);
	padding: var(--padding-cards);
	box-shadow: var(--shadow);
	cursor: pointer;
}

.card:hover {
	box-shadow: var(--shadow-2);
}

.button {
	width: fit-content;
	border-radius: var(--border-radius);
	font-size: 0.8rem;
	padding: 12px 16px;
	font-weight: bold;
	cursor: pointer;
	border: none;
}

.buttonBlack {
	background-color: var(--color-gray-dark);
	color: white;
}

.buttonBlack {
	background-color: var(--color-gray-dark);
	opacity: 0.9;
}

.buttonWhite {
	color: var(--color-grey);

	background-color: var(--color-grey-lighter);
	border: 1px solid var(--color-grey-light);
}

.buttonWhite:hover {
	color: black;
}
