h1 {
	text-align: center;
	margin: 4px 0 12px 0;
}

header p {
	text-align: center;
	color: var(--color-gray-light);
	font-size: 1.2rem;
	margin-top: 3px;
}

.cardSection {
	display: flex;
	gap: 20px;
	margin: 20px 0 40px 0;
	height: 100%;
}

.cardSpace {
	transition: transform 0.3s ease;
	text-align: center;
}

.cardSpace:hover {
	transform: scale(1.03);
}

.cardSpace i {
	margin: 4px auto;
	align-self: center;
	padding: 12px;
	background-color: oklch(0.486 0.218 264.052 / 0.1);
	border-radius: 40%;
}

.cardSection .cardSpace:nth-child(1) i {
	color: oklch(0.486 0.218 264.052);
	background-color: oklch(0.486 0.218 264.052 / 0.1);
}

.cardSection .cardSpace:nth-child(2) i {
	color: var(--color-green);
	background-color: var(--color-green-light);
}

.cardSection .cardSpace:nth-child(3) i {
	color: oklch(0.398 0.07 227.392);
	background-color: oklch(0.398 0.07 227.392 / 0.1);
}

@media (max-width: 850px) {
	/* .card {
        transition: none;
    } */

	.cardSection {
		flex-direction: column;
	}
}

h4 {
	text-align: center;
	margin: 8px 0;
}

.cardSpace p {
	text-align: center;
	color: var(--color-gray-light);
	font-size: 0.8rem;
	margin-top: 5px;
}

.selected {
	outline: 3px solid oklch(0.486 0.218 264.052);
	/* outline: 3px solid black; */
}


