#modalCreateCompany {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	margin: 0 16px;
	position: relative;
	background-color: white;
	padding: var(--padding-modales);
	border-radius: 20px;
	width: 100%;
	max-width: 600px;
}

.inputGroup > label {
	display: block;
	font-size: 0.8rem;
	margin-bottom: 8px;
	color: var(--color-gray-light);
}

.titleCreateCompany {
	font-size: 1.2rem;
	font-weight: bolder;
	margin-bottom: 16px;
}

.buttonsCreateCompany {
	width: fit-content;
	margin: 0 0 0 auto;
}
