nav {
	position: sticky;
	top: 10px;
	left: 0;
	margin-top: 8px;
	height: fit-content;

	border: 1px solid var(--color-grey-light);
	border-radius: 1000px;
	padding: 8px 16px;
	background-color: white;
	box-shadow: var(--shadow);
	z-index: 100;

	
}


.nav-content {

	display: flex;
	justify-content: space-between;
	align-items: center;

}


/* Set nav bottom screen */
@media (max-width: 600px) {
	nav {
		position: fixed;
		bottom: 10px;
		top: auto;
		width: 80%;
		left: 50%;
		transform: translateX(-50%);
	}

	body {
		height: 100%;
		padding-bottom: 52px;
	}
}

#logo {
	width: 100px;

	cursor: pointer;
	transition: all 0.3s ease;
}

#logo:hover {
	transform: scale(1.1);
}

@media (max-width: 600px) {


	#logo {
		width: 5rem;
	}
}

.nav-container {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 12px;
}

.btn-navbar {
	cursor: pointer;
	transition: transform 0.3s ease;
}

.btn-navbar:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#btn-logout {
	color: red;
}

#btn-notifications {
	font-size: 1.4rem;
	color: var(--color-gray-dark);
	margin: auto;
}

.notification-wrapper {
	position: relative;
	display: flex;
  	justify-content: center; 
  	align-items: center;
}

.notification-badge {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -5px;
	right: -5px;
	background-color: red;
	color: white;
	font-size: 0.5rem;
	font-weight: bold;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#profileImage {
	height: 1.5rem;
	width: 1.5rem;
	object-fit: cover;
	border-radius: 100%;
}

@media (max-width: 850px) {
	#btn-notifications {
		font-size: 1.5rem;
		transition: none;
	}
}

