
.notification-container {
    position: relative;
    width: 100%;
}

.notification-window {
    display: none;
}

.openNotification {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 0px;
    right: 0;
    border: 1px solid var(--color-grey-light);
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--shadow-2);

    z-index: 10;

    width: 500px;

    height: 600px;
    overflow-y: scroll;
    padding-bottom:100px;

    /* min-height: 300px;
    max-height: 800px; */
}

.notification-title {
    font-weight:bold;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 20px;
    border-bottom: 1px solid var(--color-border);
}
.notification-cards-container {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification-card {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-sm);
    padding: 12px 12px;
    font-size: 0.6rem;
    box-shadow: var(--shadow);
}

.notification-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-card-header p {
    margin: 0;
}

.notification-date {
    font-size: 0.5rem;
    color: var(--color-gray-light);
}

.notification-card-body {
    color: var(--color-gray-light);
    margin-top: 8px;
}

@media (max-width: 600px) {
    .notification-container {
        position: fixed;
        top: 0;
        right: 0;
    }
    .openNotification {
        display: flex;
        width: 100%;
        height: 100vmax;
    }


}