.profile-actions-container {
    position: relative;
}

.profile-actions-window {
    display: none;
}

.openProfileActions {
    display: block;
    position: absolute;
    top: 9px;
    right: 0px;
    border: 1px solid var(--color-grey-light);
    border-radius: 12px;
    background-color: white;
    padding: 8px;
    font-size: 0.7rem;
}


.profile-actions-list  li {
    padding: 12px 8px;
    text-align: right;
    cursor: pointer;
}

.profile-actions-list  li:hover {
    background-color: var(--color-grey-lighter);
}